.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.div-padding {
  margin: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.local-card {
  max-height: 350px;
  max-width: 350px;
  margin: .5em;
  padding: 12px;
}

.local-logon-card {
  max-height: 350px;
  max-width: 350px;
  margin: .5em;
  padding: 12px;
}

.local-new-card {
  max-height: 650px;
 
  margin: .5em;
  padding: 12px;
}

.local-resource-card {
  max-height: 350px;
  max-width: 400px;
  margin: .5em;
  padding: 12px;
}

.local-user-img {
  max-height: 110px;
  max-width: 110px;
  border-radius: 46%;
}
.local-img {
  max-height: 110px;
  max-width: 110px;
}
.local-resource-img {
  max-height: 110px;
  max-width: 110px;
}

.local-button {
 color: red;
 font-size: 18px;
}

.local-resource-card {
  max-height: 800px;
  max-width: 800px;
  margin: .5em;
  padding: 20px;
}

button:hover {
  
    background-color: red;
  
}

a:hover {
  background-color: aqua;
}

.local-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.local-space-evenly-div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

}

.div-container {
display: flex;
flex-direction: column;
margin: auto;
}